In [ ]:
import pandas as pd

df = pd.read_csv('./DBPEDIA_train.csv')
df

,text,l1,l2,l3
0,"William Alexander Massey (October 7, 1856 – Ma...",Agent,Politician,Senator
1,Lions is the sixth studio album by American ro...,Work,MusicalWork,Album
2,"Pirqa (Aymara and Quechua for wall, hispaniciz...",Place,NaturalPlace,Mountain
3,Cancer Prevention Research is a biweekly peer-...,Work,PeriodicalLiterature,AcademicJournal
4,The Princeton University Chapel is located on ...,Place,Building,HistoricBuilding
...,...,...,...,...
240937,Charlie Thompson is a prominent journalist in ...,Agent,Person,Journalist
240938,The Northerly Stakes is a Perth Racing Group 3...,Event,Race,HorseRace
240939,HC Empor Rostock is a team handball club from ...,Agent,SportsTeam,HandballTeam
240940,University of Surabaya (UBAYA) is a university...,Agent,EducationalInstitution,University
240941,The 1981 Seattle Seahawks season was the team'...,SportsSeason,FootballLeagueSeason,NationalFootballLeagueSeason

In [ ]:
x_data = df['text']
x_data

0         William Alexander Massey (October 7, 1856 – Ma...
1         Lions is the sixth studio album by American ro...
2         Pirqa (Aymara and Quechua for wall, hispaniciz...
3         Cancer Prevention Research is a biweekly peer-...
4         The Princeton University Chapel is located on ...
                                ...
240937    Charlie Thompson is a prominent journalist in ...
240938    The Northerly Stakes is a Perth Racing Group 3...
240939    HC Empor Rostock is a team handball club from ...
240940    University of Surabaya (UBAYA) is a university...
240941    The 1981 Seattle Seahawks season was the team'...
Name: text, Length: 240942, dtype: object

In [ ]:
y_data = df['l1']
pd.unique(y_data)

array(['Agent', 'Work', 'Place', 'Species', 'UnitOfWork', 'Event',
       'SportsSeason', 'Device', 'TopicalConcept'], dtype=object)

In [ ]:
import re

x_data = x_data.apply( lambda x : re.sub("[^a-zA-Z]", " ", x) )
x_data

0         William Alexander Massey  October           Ma...
1         Lions is the sixth studio album by American ro...
2         Pirqa  Aymara and Quechua for wall  hispaniciz...
3         Cancer Prevention Research is a biweekly peer ...
4         The Princeton University Chapel is located on ...
                                ...
240937    Charlie Thompson is a prominent journalist in ...
240938    The Northerly Stakes is a Perth Racing Group  ...
240939    HC Empor Rostock is a team handball club from ...
240940    University of Surabaya  UBAYA  is a university...
240941    The      Seattle Seahawks season was the team ...
Name: text, Length: 240942, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(y_data)
labels = encoder.transform(y_data)
labels

array([0, 8, 3, ..., 0, 0, 5])

In [ ]:
encoder.classes_

array(['Agent', 'Device', 'Event', 'Place', 'Species', 'SportsSeason',
       'TopicalConcept', 'UnitOfWork', 'Work'], dtype=object)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Count Vectorization으로 text 변환 수행. 
cnt_vect = CountVectorizer()

cnt_vect.fit(x_data)
X_train_cnt_vect = cnt_vect.transform(x_data)

In [ ]:
X_train_cnt_vect.toarray()

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# LogisticRegression을 이용하여 학습/예측/평가 수행. 
lr_clf = LogisticRegression() # 클래스개수가 2이면 로지스틱, 3이상이면 소프트맥스 사용 
lr_clf.fit(X_train_cnt_vect , labels)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

  - 테스트 파일 로드
  - text컬럼만 x_data로 저장하고 CountVectorizer()로 변환
  - l1컬럼만 y_data로 저장하고 레이블 인코딩 수행
  - 테스팅 x_data로 예측
  - 예측한 결과와 y_data비교해서 정확도 측정

In [ ]:
df_test = pd.read_csv('./DBPEDIA_test.csv')
df_test

,text,l1,l2,l3
0,Liu Chao-shiuan (Chinese: 劉兆玄; pinyin: Liú Zhà...,Agent,Politician,PrimeMinister
1,"Michelle Maylene (born January 20, 1987) is an...",Agent,Actor,AdultActor
2,Hirfanlı Dam is a dam in Turkey. The developme...,Place,Infrastructure,Dam
3,Grote Prijs Stad Zottegem is a single-day road...,Event,Race,CyclingRace
4,"Johannes Petrus \""Hans\"" Nijman (September 23,...",Agent,Athlete,MartialArtist
...,...,...,...,...
60789,Darwin Smith was CEO of Kimberly-Clark from 19...,Agent,Person,BusinessPerson
60790,The HKRU Premiership is the main domestic comp...,Agent,SportsLeague,SoccerLeague
60791,"Leo Harvey Diegel (April 20, 1899 – May 5, 195...",Agent,Athlete,GolfPlayer
60792,"Clement Reginald \""Clem\"" Splatt (17 September...",Agent,Athlete,AustralianRulesFootballPlayer
60793,Gyllebo Castle (Swedish: Gyllebo slott) is a c...,Place,Building,Castle

In [ ]:
x_test = df_test['text']
x_test = x_test.apply( lambda x : re.sub("[^a-zA-Z]", " ", x) )
y_test = df_test['l1']

In [ ]:
X_test_cnt_vect = cnt_vect.transform(x_test)
label=encoder.transform(y_test)

In [ ]:
pred = lr_clf.predict(X_test_cnt_vect)
print('예측 정확도는 {0:.3f}'.format(accuracy_score(label,pred)))

예측 정확도는 0.981